:root {
    --text-color: white;
    --tip-background: #616161e6;
    --border: #ccc;
    --grey-text: #757575;
    --primary-1: #B2EBF2;
    --primary-2: #b1eaf280;
    --primary-3: #b1eaf240;
    --background: #f0fdff;
}