<div class="columns m-2">
    <div [class]="!(isHandset$ | async) ? 'column is-8 is-offset-2' : 'column is-8 is-offset-2 column-margin'">
        <h1>GROEPEN</h1>
        <ng-container *ngIf="dataSource as roles; else loading">
            <mat-table [dataSource]="roles" class="mat-elevation-z3">
                <ng-container matColumnDef="select">
                    <mat-header-cell class="checkbox-cell" *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="checkbox-cell" *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span>
                            {{role.name}}
                        </span>
                        <mat-chip-list>
                            <ng-container *ngIf="!(isHandset$ | async)">
                                <mat-chip *ngIf="role.memberCount == 0">
                                    Geen leden
                                </mat-chip>
                                <mat-chip *ngIf="role.memberCount > 0">
                                    {{role.memberCount}} {{role.memberCount == 1 ? 'lid' : 'leden'}}
                                </mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row matRipple *matRowDef="let role; columns: columns;" (click)="selection.toggle(role)">
                </mat-row>
            </mat-table>
            <app-action-menu>
                <app-action-menu-button text="Email" [disabled]="getSelectedCount() <= 0"
                    (cclick)="openEmailDialog()" [matBadge]="getSelectedCount()"
                    [matBadgeHidden]="getSelectedCount() <= 0">
                    email
                </app-action-menu-button>
            </app-action-menu>
        </ng-container>
        <ng-template #loading>
            <div class="loading-container">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </div>
</div>