.icon-table div div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.icon-table div div .mat-icon {
    margin-right: 0.5rem;
}

b {
    margin-right: .5em;
}

a:link {
    color: #00acc1;
}

a:visited {
    color: #00acc1;
}

a:hover {
    color: #1565c0;
}

a:active {
    color: #00acc1;
}