<div class="columns m-2">
    <div class=" column is-offset-one-fifth is-three-fifths">
        <mat-card>
            <h1>DOWNLOAD APP</h1>
            <br>
            <p>Met de The Sharks App voor Windows en Android heb je onze website altijd binnen handbereik.</p>
            <ul>
                <li>Wil je graag gemakkelijk en snel toegang tot onze website?</li>
                <li>Wil je je snel inschrijven voor onze activiteiten?</li>
                <li>Wil je snel toegang tot onze clubfoto's en downloadbare documenten?</li>
            </ul>
            <p>Download dan nu The Sharks App!</p>
            <br>
            <a href='https://play.google.com/store/apps/details?id=be.thesharks.app' target="_blank">
                <img alt='Download Android App' src='https://play.google.com/intl/en_us/badges/static/images/badges/nl_badge_web_generic.png'/>
            </a>
            <br>
            <a href="ms-windows-store://pdp/?ProductId=9MSQS49ZQCXG" target="_blank">
                <img alt="Download Windows App" src="https://get.microsoft.com/images/nl-nl%20dark.svg" />
            </a>
        </mat-card>
    </div>
</div>