<div class="columns m-2">
    <div class="column is-8 is-offset-2 stack-with-spacing">
        
        <ng-container *ngIf="valid">
            <h1>Nieuw wachtwoord kiezen</h1>
            <form class="stack" [formGroup]="resetPasswordForm">
                <mat-form-field appearance="fill">
                    <mat-label>Nieuw wachtwoord</mat-label>
                    <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'" maxlength="60">                    
                    <button matSuffix type="button" mat-icon-button (click)="togglePassword()">
                        <mat-icon *ngIf="!showPassword">visibility</mat-icon>
                        <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Bevestig wachtwoord</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'" maxlength="60">                    
                    <button matSuffix type="button" mat-icon-button (click)="togglePassword()">
                        <mat-icon *ngIf="!showPassword">visibility</mat-icon>
                        <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-flat-button color="primary" [disabled]="(!resetPasswordForm.valid && !loading) || loading"
                    (click)="onSubmit()">
                    Nieuw wachtwoord opslaan
                </button>
            </form>
            <div *ngIf="resetPasswordForm.errors?.['passwordUnmatched']" class="error">Wachtwoorden komen niet overeen.
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.errors?.['invalidPassword']" class="error">
                Wachtwoord voldoet niet aan de regels:
                <ul>
                    <li>- Minstens 8 tekens</li>
                    <li>- Bevat een nummer</li>
                </ul>
            </div>
        </ng-container>

        <div *ngIf="!valid">
            <mat-card>
                <h1>Gebruik de link die je via email hebt ontvangen om je wachtwoord opnieuw in te stellen</h1>
            </mat-card>
        </div>

        <div *ngIf="loading" class="loading-container">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>