.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
  
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mat-stepper-vertical .mat-vertical-stepper-header {
    padding: 0px;
    height: auto;
}

.mat-stepper-vertical .mat-stepper-vertical-line {
    margin: 0 -4px; 
}

.mat-vertical-content-container {
    margin-left: 0px !important;
}