<div class="columns m-2">
    <div class="column is-8 is-offset-2 stack-with-spacing">
        <h1>Wachtwoord opnieuw instellen</h1>
        <form class="stack">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" type="email" maxlength="60">
            </mat-form-field>
            <button mat-flat-button color="primary" [disabled]="(!email.valid && !loading) || loading"
                (click)="onSubmit()">
                Nieuw wachtwoord instellen
            </button>
        </form>
        <h4 *ngIf="feedbackText">{{feedbackText}}</h4>
        <div *ngIf="loading" class="loading-container">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>